# FDS project 21/22 - Heart Disease Prediction

### Authors
- Elios Buzo
- Laurentiu Adrian Crsturean
- Anthony Giusti
- Ludovico Lentini
- Michele Spina

# Clean and analyze the dataset

## A first look

### What type of thata there are

In [47]:
import pandas as pd
import numpy as np

In [48]:
#Import the original dataset
ds = pd.read_csv('dataset.csv')
#ds.head()

#Print the number of null values
ds.isnull().sum()
#ds.info()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [49]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [50]:
'''
ds.drop("Age",axis=1,inplace=True)
ds.drop("Sex",axis=1,inplace=True)
ds.drop("ChestPainType",axis=1,inplace=True)
ds.drop("RestingBP",axis=1,inplace=True)
ds.drop("Embarked",axis=1,inplace=True)
'''

'\nds.drop("Age",axis=1,inplace=True)\nds.drop("Sex",axis=1,inplace=True)\nds.drop("ChestPainType",axis=1,inplace=True)\nds.drop("RestingBP",axis=1,inplace=True)\nds.drop("Embarked",axis=1,inplace=True)\n'

We can immediatly observe that there are some categorical values and there isn't null values, but we must analyze if all the data are consistent

In [51]:
ds.describe(include = 'all')

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
count,918.000000,918,918,918.000000,918.000000,918.000000,918,918.000000,918,918.000000,918,918.000000
unique,NaN,2,4,NaN,NaN,NaN,3,NaN,2,NaN,3,NaN
top,NaN,M,ASY,NaN,NaN,NaN,Normal,NaN,N,NaN,Flat,NaN
freq,NaN,725,496,NaN,NaN,NaN,552,NaN,547,NaN,460,NaN
mean,53.510893,NaN,NaN,132.396514,198.799564,0.233115,NaN,136.809368,NaN,0.887364,NaN,0.553377
std,9.432617,NaN,NaN,18.514154,109.384145,0.423046,NaN,25.460334,NaN,1.066570,NaN,0.497414
min,28.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,60.000000,NaN,-2.600000,NaN,0.000000
25%,47.000000,NaN,NaN,120.000000,173.250000,0.000000,NaN,120.000000,NaN,0.000000,NaN,0.000000
50%,54.000000,NaN,NaN,130.000000,223.000000,0.000000,NaN,138.000000,NaN,0.600000,NaN,1.000000
75%,60.000000,NaN,NaN,140.000000,267.000000,0.000000,NaN,156.000000,NaN,1.500000,NaN,1.000000
max,77.000000,NaN,NaN,200.000000,603.000000,1.000000,NaN,202.000000,NaN,6.200000,NaN,1.000000

The minimum value for the attribute **Cholesterol** is 0 and it isn't consisten.

In [52]:
print(np.sum(np.asarray(ds["Cholesterol"] == 0)))

172

### How data are distributed

## From categorical to numeric

We must convert categorical data to numerical data

## How can we manage inconsisten values?

This link contains some useful ways:
https://www.analyticsvidhya.com/blog/2021/05/dealing-with-missing-values-in-python-a-complete-guide/

### Deleting the column with missing data

In [53]:

ds_noC = pd.read_csv('dataset.csv')
del ds_noC["Cholesterol"]
ds_noC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   FastingBS       918 non-null    int64
 5   RestingECG      918 non-null    object
 6   MaxHR           918 non-null    int64
 7   ExerciseAngina  918 non-null    object
 8   Oldpeak         918 non-null    float64
 9   ST_Slope        918 non-null    object
 10  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(5), object(5)
memory usage: 79.0+ KB

### Deleting the column with missing data

In [59]:
ds_noR = pd.read_csv('dataset.csv')
ds_noR = ds_noR["Cholesterol" != 0]
ds_noR.info()
ds.describe()

KeyError: True

## Normalize values

In [55]:
ds_noR = pd.read_csv('dataset.csv')